body {
  background-color:lightgray;
}
img {
  width:50%;
}
input {
  width:100%;
}
button {
  margin-top: 15px;
}
.container {
  padding-top:30px;
  max-width: 1000px;
}
.jumbotron {
  padding:5px 15px 5px 15px;
}
.card {
  margin-bottom:20px;
}
#board-area .generated .column {
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}
.blank {
  background:white;
}
.x {
  background-image:url("../img/x.png");
}
.o {
  background-image:url("../img/o.png");
}

#player-1, #player-2 {
  width:100%;
  border:2px solid gray;
  border-radius:5px;
  text-align:center;
}